---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
      <Sectionhead>
          <Fragment slot="title">Contact</Fragment>
          <Fragment slot="desc"></Fragment>
      </Sectionhead>

      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
          <div class="mt-5"> 
              <h2 class="font-medium text-2xl text-gray-800">Social media</h2>
              <ul>
                  <li><a href="https://scientificnetwork.de/web/home">Mastodon</a></li>
                  <li><a href="https://twitter.com/binary_c_code">Twitter</a></li>
                  <li><a href="https://www.facebook.com/groups/149489915089142">Facebook</a></li>
              </ul>
          </div>
          <div>

              <h2 class="font-medium text-2xl text-gray-800">E-mail</h2>
              <div class="mt-5">
                  <div class="flex items-center mt-2 space-x-2 text-gray-600">
                      <ul>
                      <li><a href="mailto:r.izzard@surrey.ac.uk">r.izzard@surrey.ac.uk</a></li>
                      <li><a href="mailto:rob.izzard@gmail.com">rob.izzard@gmail.com</a></li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
  </Container>
</Layout>
