---
import Container from "@components/container.astro";
import Footer from "@components/footer.astro";
import binary_c from "@components/binary_c.astro";
import News from "@components/news.astro";
import Layout from "@layouts/Layout.astro";
import Card from '../components/Card.astro';
import Card_nolink from '../components/Card_nolink.astro';
---

<Layout title="binary_c course Barcelona 2024">
  <Container>
      <main>
          <h1>
              binary_c in Barcelona
          </h1>
          <h2>
              (hopefully) 10am-4pm Wednesday 19th June 2024, most likely in the 3.28 seminar room? (or perhaps the Pere Pascual V5.07 Room (5th floor)?!) 
          </h2>
          Please note, both myself and Nadia are currently sick and infectious, hence the delayed start to the course. Apologies!
 		<p class="instructions">
		The <a href="/"><b><i>binary_c</i></b></a> software framework models the evolution of single, binary and multiple stars, including both stellar evolution and nucleosynthesis. It is designed for stellar population calculations, so is lightweight and versatile, and its support software contains tools for development and data analysis. <b><i>binary_c</i></b> is happy in standalone, virtual and HPC environments, so works perfectly when teaching or running on computing clusters.</p>
          <p class="instructions">This one-day course will teach you how to run <b><i>binary_c</i></b> to make and analyse individual stellar systems, and how to use the <a href=""><b><i>binary_c-python</i></b></a> frontend to make both individual stars and whole stellar populations. Before we start, please try to download the binary_c and binary_c-python software from <a href="https://gitlab.com/binary_c">gitlab.com/binary_c</a>. If you are running Ubuntu 22 or 24 you could try running <a href="https://gitlab.com/binary_c/binary_c/-/raw/master/ubuntu_install_binary_c.sh?ref_type=heads">this installer script</a>. I'll post a link to a virtual machine here as soon as I have finished it :) Full documentation is at the <a href="https://binary_c.gitlab.io/binary_c.html">binary_c docs</a> and <a href="https://binary_c.gitlab.io/binary_c-python/">binary_c-python docs</a> pages.</p>
          <p class="instructions">
              <a href="https://www.virtualbox.org/">Virtualbox</a> Virtual Machine images<br>
                  <a href="https://zenodo.org/records/11654939">binary_c V2.2.4 on Kubuntu 24.04</a><br>
                  <a href="https://zenodo.org/records/11655042">binary_c V2.2.4 on Ubuntu 22.04 (Gnome)</a><br>
                  <a href="https://zenodo.org/records/10815169">binary_c V2.2.4 on Kubuntu 22.04</a><br>
              Please note these are compressed with xzip so you will have to decompress first.
          </p>
      </main>
</Container>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
</style>
