---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import Card from '../components/Card.astro';
import Card_nolink from '../components/Card_nolink.astro';
---

<Layout title="Contact">
    <Container>
        <Sectionhead>
            <Fragment slot="title">binary_c features</Fragment>
            <Fragment slot="desc"></Fragment>
        </Sectionhead>

	    <ul role="list" class="link-card-grid">
			<Card_nolink
				title="Fast stellar evolution"
				body="<i>binary_c</i> provides stellar evolution through a heavily-modified and updated C version of the BSE library, or through its own <i>N</i>-dimensional interpolation, structure, evolution and nuclear-burning library, MINT, which uses, for example, pre-computed <a href='https://docs.mesastar.org/'>MESA</a> data. Stellar evolution includes wind mass loss, rotation, thermal pulses, magnetic braking, pre-main sequence evolution, supernovae and kicks, neutron stars and black holes, and stellar colours corresponding to almost any system using a native interpolation of the <a href='https://arxiv.org/abs/1910.09037'>YBC</a> datasets."
            />
            <Card_nolink
				title="Binary stars"
				body="Binary-star evolution includes mass transfer, the latest mass-transfer stability algorithms, rejuvenation, gravitational-wave losses, tides, common-envelope evolution, novae, circumbinary discs and merging stars. The MINT library provides 'off-grid' stars that are only made in binaries. <i>binary_c</i> can also follow planetary or asteroid orbits around single or binary stars."
            />
            <Card_nolink
				title="Nucleosynthesis"
				body="<i>binary_c</i> is the only stellar-population code that natively includes nucleosynthesis. Stars make almost all the heavy elements in the Universe, and <i>binary_c</i> will tell you how. Explosions are included such as supernovae and novae, as is more stable burning such as pp, CNO, NeNa and MgAl chains. The effects of being in a binary system, such as accretion of chemically polluted material from a companion star to form a CH, CEMP or barium star, are standard features. More than 400 isotopes can be used, including radioactive sources such as <sup>26</sup>Al, and the yield sets are designed for use with Galactic Chemical Evolution codes."
            />
            <Card_nolink
				id="bigdata"
				title="Big data"
				body="<i>binary_c</i>, using <i>binary_c</i>-python, quickly generates stellar populations of millions of stars suitable for comparison with data from, e.g., <i>Gaia</i> or <i>SDSS</i>. Millions of stars means billions or trillions of data associated with each stellar population. These data are combined into stellar-population ensembles internally use the very-fast, native C, <a href='https://gitlab.com/rob.izzard/libcdict'>libcdict</a> to save their data in an arbitrarily-nested, <i>N</i>-dimensional dataset which can be saved as JSON files ready to be imported into Python or R in just one line of code."
            />
            <Card_nolink
				id="numerics"
				title="Numerics"
				body="<i>binary_c</i> is designed to be fast and flexible. There are several options for time integration, such as explicit forward-Euler, RK2 and RK4, and an implicit predictor-corrector. Nuclear burning is provided through small, hence fast, optimized networks using Kaps-Rentrop solvers. Time evolution is split into integration of smooth derivatives, such as wind-mass loss rates or tidal spin up, and events which are treated as instantaneous, such as supernoave and common-envelope ejection. The timestepping algorithm can be tuned by the user to suit their needs."
            />
            <Card_nolink
				id="procode"
				title="Professional code"
				body="<i>binary_c</i> is both fast and has high coding standards. All its code is stored on <a href='https://www.gitlab.com'>Gitlab</a> and is open source. Functions are often outsourced to optimized libraries such as <a href='https://gitlab.com/rob.izzard/libcdict'>libcdict</a>, <a href='https://gitlab.com/rob.izzard/librinterpolate'>librinterpolate and <a href='https://gitlab.com/rob.izzard/libmemoize'>libmemoize</a> whenever possible. The source code uses features such as X-macros to aid readability and simplify algorithms, procedures and standards. <i>binary_c</i> also has standard sets of unit tests and compiler tests, as well as a Monte-carlo test suite, which mean that each release is thoroughly evaluated."
            />
            <Card_nolink
				id="API"
				title="Applcation Programming Interface (API)"
				body="An Applcation Programming Interface (API) comes as standard with <i>binary_c</i>, allowing it to be incorporated in your project whether it uses C, C++, Python, Perl, FORTRAN or any other modern programming language. The API has been stable for some years now, and natively handles issues such as data caching and tabular interpolation efficently. <i>Binary_c</i> builds a shared library which can be used in Linux or OSX by any other application."
            />
            <Card_nolink
				id="HPC"
				title="High-powered computing (HPC)"
				body="<i>binary_c</i> is designed to work as quickly as possible in a single-thread, single-CPU environment. However, through <a href='https://gitlab.com/<i>binary_c</i>/<i>binary_c</i>-python'><i>binary_c</i>-python</a>, you can run as many threads on as many CPUs as you like. <i>binary_c</i> scales extremely well in this situation and is perfect for any modern CPU architecture. There is native support for both <a href=''https://htcondor.org/>HTCondor</a> and <a href='https://slurm.schedmd.com/overview.html'>Slurm</a> distributed computing grids, or you can run multi-threaded jobs on your desktop."
            />
            <Card_nolink
				id="development"
				title="Development and upcoming features"
				body="<i>Binary_c</i> is continuously developed. For example, the MINT library, developed by Giovanni Mirouh, is an interpolation library desgined to replace analytic fitting formulae and hence evolve stars self-consistently. Natalie Rees is making grids of post-helium ignition stellar models for MINT. David Hendriks is using binary_c to investigate pair-instability supernovae and their contribution to black-hole mergers, while Arman Aryaeipour is improving our understanding of thermonuclear novae with details <i>MESA</i> models. <i>binary_c</i> also has a triple-star module, written by Tom Comerford for his STFC-funded PhD, which will provide the perfect basis for investigating both triple and quadruple stellar systems."
            />
            </ul>
            </Container>
            </Layout>
