---
import Container from "@components/container.astro";
import Footer from "@components/footer.astro";
import binary_c from "@components/binary_c.astro";
import News from "@components/news.astro";
import Layout from "@layouts/Layout.astro";
import Card from '../components/Card.astro';
import Card_nolink from '../components/Card_nolink.astro';
---

<Layout title="The binary_c population nucleosynthesis framework">
  <Container>
      <main>
          <h1>
              binary_c
              </h1>
 		<p class="instructions">
			The <b><i>binary_c</i></b> software framework models the evolution of single, binary and multiple stars, including stellar evolution and nucleosynthesis. It is designed for stellar population calculations, so is lightweight and versatile, and its support software contains tools for development and data analysis. <b><i>binary_c</i></b> is happy in standalone, virtual and HPC environments. Builds on <a href="https://en.wikipedia.org/wiki/Linux">Linux</a>, <a href="https://en.wikipedia.org/wiki/MacOS">OSX</a> and <a href="https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux">WSL</a>.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://gitlab.com/binary_c"
				title="Source code and tools"
				body="Open-source <b><i>binary_c</i></b> resources on <i>gitlab</i>, such as binary_c, binary_c-python, the data ensemble viewer and Bokeh plotter."
			/>
			<Card
				href="features/index.html"
				title="Features"
				body="What features does <i>binary_c</i> provide you? Astrophysics, numerics, high-powered computing."
			/>
			<Card
				href="binary_c.html"
				title="Documentation"
				body="Learn how <b><i>binary_c</i></b> works, how to use it to make single stellar systems or whole populations, about the code guts, and learn about its API so you can interact with other codes."
			/>
			<Card
				href="https://gitlab.com/binary_c/binary_c-python"
				title="binary_c-python"
				body="The <b><i>binary_c-python</i></b> module runs <b><i>binary_c</i></b> in Python scripts, Python notebooks and on HPC <i>Slurm</i> and <i>Condor</i> clusters."
			/>
			<Card
				href="https://r-izzard.surrey.ac.uk/cgi-bin/binary5.cgi"
				title="Try online now"
				body="Try <b><i>binary_c</i></b> online, including evolutionary history, Hertzsprung-Russell diagram and chemical yields."
			/>
            <Card
                href="https://zenodo.org/records/10815169"
                title="Virtual machine"
                body="We provide a <i>Virtualbox</i> virtual machine containing <i>binary_c</i>, <i>binary_c-python</i> and all the tools you need to run and develop the tools to make your own stellar populations."
            />
            <Card
                href="https://hub.docker.com/r/robizzard/binary_c"
                title="Docker"
                body="You can use <b><i>binary_c</i></b> from its Docker image."
            />
			<Card
				href="https://www.youtube.com/@binary_c5518"
				title="binary_c on YouTube"
				body="Watch <b><i>binary_c</i></b> talks and classes on YouTube."
			/>
			<Card_nolink
				title="Support software"
				body="<a href=https://www.gitlab.com/rob.izzard/libcdict>libcdict</a>: dictionaries in C.<br><a href=https://www.gitlab.com/rob.izzard/libmemoize>libmemoize</a>: memoize C functions.</a><br><a href=https://www.gitlab.com/rob.izzard/librinterpolate>librinterpolate</a>: fast N-dimensional interpolation.</p>"
			/>
            <Card
                href="contact/index.html"
                title="Contacts"
                body="Who to contact if you need help, and who has helped make <b><i>binary_c</i></b> what it is today."
            />
            <Card
                href="papers/index.html"
                title="Papers"
                body="An incomplete list of papers that use <b><i>binary_c</i></b>."
            />
		</ul>
  </main>
</Container>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
</style>
