---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Papers from '../components/Papers.astro';
import binary_c_paper_list from 'papers.html'
---
<Layout title="Papers using binary_c">
	<main>
        When citing binary_c, please use:
        <ul>
            <li><a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.521...35I/abstract">Izzard and Jermyn (2023)</a></li>
            <li><a href="https://ui.adsabs.harvard.edu/abs/2018MNRAS.473.2984I/abstract">Izzard, Preece, Jofre, Halabi, Masseron and Tout (2018)</a></li>
            <li><a href="https://ui.adsabs.harvard.edu/abs/2009A&A...508.1359I/abstract">Izzard, Glebbeek, Stancliffe and Pols (2009)</a>
            <li><a href="https://ui.adsabs.harvard.edu/abs/2006A%26A...460..565I/abstract">Izzard, Dray, Karakas, Lugaro and Tout (2006)</a></li>
            <li><a href="https://ui.adsabs.harvard.edu/abs/2004MNRAS.350..407I/abstract">Izzard, Tout, Karakas and Pols (2004)</a></li>
        </ul>
<br><br><br>
        <Papers
            title="Papers using binary_c"
            body="The following is an incomplete list:    "
            listhref="paperslist.html"
        />
    </main>
</Layout>
