---
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import binary_c_logo from "assets/logo.png";


const menuitems = [
    {
        title: "Features",
        path: "/features",
        children: [
            { title: "Fast stellar evolution", path: "/features/#faststellarevolution" },
            { title: "Binary stars", path: "/features/#binaries" },
            { title: "Nucleosynthesis", path: "/features/#nucsyn" },
            { title: "Big data", path: "/features/#bigdata" },
            { title: "Python frontend", path: "/features/#python" },
            { title: "Numerics", path: "/features/index.html#numerics" },
            { title: "Professional code development", path: "/features/#procode" },
            { title: "API", path: "/features/#API" },
            { title: "HPC", path: "/features/#HPC" },
            { title: "Development", path: "/features/#development" },
        ],
    },
    {
        title: "Download",
        children: [
            { title: "Main code" },
            { title: "binary_c Gitlab", path: "https://gitlab.com/binary_c" },
            { title: "binary_c-python", path: "https://gitlab.com/binary_c/binary_c-python" },
            { title: "Docker", path: "https://hub.docker.com/r/robizzard/binary_c"},
            { title: "Virtual machine", path: "https://zenodo.org/records/10815169"},
            { title: "Support software" },
            { title: "Ensemble viewer", path: "https://gitlab.com/binary_c/binary_c_ensemble_viewer"},
            { title: "Bokeh plot generator", path: "https://gitlab.com/binary_c/binary_c_ensemble_viewer"},
            { title: "Support libraries" },
            { title: "libcdict", path: "https://www.gitlab.com/rob.izzard/libcdict" },
            { title: "libmemoize", path: "https://www.gitlab.com/rob.izzard/libmemoize" },
            { title: "librinterpolate", path: "https://www.gitlab.com/rob.izzard/librinterpolate" }
        ]
    },
    {
        title: "Documentation",
        children: [
            { title: "binary_c", path: "/binary_c.html" },
            { title: "binary_c-python", path: "https://binary_c.gitlab.io/binary_c-python/" },
            ]
    },
    {
        title: "Comms",
        children: [
            { title: "Papers", path: "/papers/" },
            { title: "Contact", path: "/contact/" },
            { title: "YouTube", path: "https://www.youtube.com/@binary_c5518" }
        ]
    },
];
---

<Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
        <Astronav>
            <div id="parent" style="text-align: center; border-style: solid;">
                <a href="/" class="text-lg">
                    <div style="text-align: center; border-style: solid;">
                        <Picture
                            src={binary_c_logo}
                            alt="binary_c logo showing stars in Roche-lobe overflow."
                            widths={[150]}
                            sizes="(max-width: 150px) 100vw, 150px"
                            loading="eager"
                            format="avif"
                            />
                        </div>
                    <div style="text-align: center; border-style: solid;" class="flex w-full lg:w-auto items-center justify-between">
                        <div class="block lg:hidden">
                            <MenuIcon class="w-4 h-4 text-gray-800" />
                        </div>
                    </a>
                </div>
            </div>
            <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
                <ul class="flex flex-col lg:flex-row lg:gap-3">
                    {
                        menuitems.map((item, index) => (
                            <>
                                {item.children && (
                                    <Dropdown
                                        title={item.title}
                                        children={item.children}
                                        lastItem={index === menuitems.length - 1}
                                    />
                                )}

                                {!item.children && (
                                    <li>
                                        <a
                                            href={item.path}
                                            class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                                            {item.title}
                                        </a>
                                    </li>
                                )}
                            </>
                        ))
                    }
                </ul>
            </MenuItems>
        </Astronav>
        <Picture
            src={binary_c_logo}
            alt="binary_c logo showing stars in Roche-lobe overflow."
            widths={[150]}
            sizes="(max-width: 150px) 100vw, 150px"
            loading="eager"
            format="avif"
        />

    </header>
</Container>
