---
---


<br><b><h1>2024</h1></b><br>
<li><b>Anomalously low-mass core-He-burning star in NGC 6819 as a post-common-envelope phase product</b><br>Massimiliano Matteuzzi, David Hendriks, Robert G. Izzard, Andrea Miglio, Karsten Brogaard, Josefina Montalbán, Marco Tailo, Alessandro Mazzi<br> <a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240811095M/abstract">ADS</a></li>
<li><b>Nova contributions to the chemical evolution of the Milky Way</b><br>Alex J. Kemp, Amanda I. Karakas, Andrew R. Casey, Benoit Cote, Robert G. Izzard, Zara Osborn<br> <a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240718718K/abstract">ADS</a></li>
<li><b>The impact of binary stars on the dust and metal evolution of galaxies</b><br>Robert M. Yates, David Hendriks, Aswin P. Vijayan, Robert G. Izzard, Peter A. Thomas, Payel Das<br> <a href="https://ui.adsabs.harvard.edu/abs/2024MNRAS.527.6292Y/abstract">ADS</a> 13 citations</li>
<li><b>Population synthesis of Be X-ray binaries: metallicity dependence of total X-ray outputs</b><br>Boyuan Liu, Nina S. Sartorio, Robert G. Izzard, Anastasia Fialkov<br> <a href="https://ui.adsabs.harvard.edu/abs/2024MNRAS.527.5023L/abstract">ADS</a> 6 citations</li>
<br><b><h1>2023</h1></b><br>
<li><b>Aluminium-26 production in low- and intermediate-mass binary systems</b><br>Zara Osborn, Amanda I. Karakas, Alex J. Kemp, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.526.6059O/abstract">ADS</a></li>
<li><b>Pulsational pair-instability supernovae in gravitational-wave and electromagnetic transients</b><br>D.D. Hendriks, L.A.C. van Son, M. Renzo, R.G. Izzard, R. Farmer<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.526.4130H/abstract">ADS</a> 15 citations</li>
<li><b>Confirmation of a new resonance in <sup>26</sup>Si and contribution of classical novae to the galactic abundance of <sup>26</sup>Al</b><br>L. Canete, D.T. Doherty, G. Lotay, D. Seweryniak, C.M. Campbell, M.P. Carpenter, W.N. Catford, K.A. Chipps, J. Henderson, R.G. Izzard, R.V.F. Janssens, H. Jayatissa, J. José, A.R.L. Kennington, F.G. Kondev, A. Korichi, T. Lauritsen, C. Müller-Gatermann, C. Paxman, Zs. Podolyák, B.J. Reed, P.H. Regan, W. Reviol, M. Siciliano, G.L. Wilson, R. Yates, S. Zhu<br> <a href="https://ui.adsabs.harvard.edu/abs/2023PhRvC.108c5807C/abstract">ADS</a></li>
<li><b>libcdict: fast dictionaries in C</b><br>Robert Izzard, David Hendriks, Daniel Nemergut<br> <a href="https://ui.adsabs.harvard.edu/abs/2023JOSS....8.4756I/abstract">ADS</a></li>
<li><b>binary_c-python: Stellar population synthesis tool and interface to binary_c</b><br>David D. Hendriks, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2023ascl.soft07036H/abstract">ADS</a></li>
<li><b>Mass-stream trajectories with non-synchronously rotating donors</b><br>D.D. Hendriks, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.524.4315H/abstract">ADS</a> 4 citations</li>
<li><b>Detailed equilibrium and dynamical tides: impact on circularization and synchronization in open clusters</b><br>Giovanni M. Mirouh, David D. Hendriks, Sophie Dykes, Maxwell Moe, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.524.3978M/abstract">ADS</a> 6 citations</li>
<li><b>binary_c-python: A Python-based stellar population synthesis tool and interface to binary_c</b><br>D. Hendriks, R. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2023JOSS....8.4642H/abstract">ADS</a> 7 citations</li>
<li><b>An optimal envelope ejection efficiency for merging neutron stars</b><br>Alexander M. Tanaka, Avishai Gilkis, Robert G. Izzard, Christopher A. Tout<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.522.1140T/abstract">ADS</a> 1 citations</li>
<li><b>Circumbinary discs for stellar population models</b><br>Robert G. Izzard, Adam S. Jermyn<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.521...35I/abstract">ADS</a> 13 citations</li>
<li><b>Population III X-ray binaries and their impact on the early universe</b><br>Nina S. Sartorio, A. Fialkov, T. Hartwig, G.M. Mirouh, R.G. Izzard, M. Magg, R.S. Klessen, S.C.O. Glover, L. Chen, Y. Tarumi, D.D. Hendriks<br> <a href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.521.4039S/abstract">ADS</a> 12 citations</li>
<br><b><h1>2022</h1></b><br>
<li><b>Impact of the primordial stellar initial mass function on the 21-cm signal</b><br>T. Gessey-Jones, N.S. Sartorio, A. Fialkov, G.M. Mirouh, M. Magg, R.G. Izzard, E. de Lera Acedo, W.J. Handley, R. Barkana<br> <a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.516..841G/abstract">ADS</a> 32 citations</li>
<li><b>Viability of Novae as Sources of Galactic Lithium</b><br>Alex J. Kemp, Amanda I. Karakas, Andrew R. Casey, Benoit Côté, Robert G. Izzard, Zara Osborn<br> <a href="https://ui.adsabs.harvard.edu/abs/2022ApJ...933L..30K/abstract">ADS</a> 9 citations</li>
<li><b>The impact of metallicity on nova populations</b><br>Alex J. Kemp, Amanda I. Karakas, Andrew R. Casey, Chiaki Kobayashi, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.509.1175K/abstract">ADS</a> 11 citations</li>
<br><b><h1>2021</h1></b><br>
<li><b>Population synthesis of accreting white dwarfs: rates and evolutionary pathways of H and He novae</b><br>Alex J. Kemp, Amanda I. Karakas, Andrew R. Casey, Robert G. Izzard, Ashley J. Ruiter, Poojan Agrawal, Floor S. Broekgaarden, Karel D. Temmink<br> <a href="https://ui.adsabs.harvard.edu/abs/2021MNRAS.504.6117K/abstract">ADS</a> 11 citations</li>
<li><b>Age dissection of the Milky Way discs: Red giants in the Kepler field</b><br>A. Miglio, C. Chiappini, J.T. Mackereth, G.R. Davies, K. Brogaard, L. Casagrande, W.J. Chaplin, L. Girardi, D. Kawata, S. Khan, R. Izzard, J. Montalbán, B. Mosser, F. Vincenzo, D. Bossini, A. Noels, T. Rodrigues, M. Valentini, I. Mandel<br> <a href="https://ui.adsabs.harvard.edu/abs/2021A&A...645A..85M/abstract">ADS</a> 131 citations</li>
<br><b><h1>2020</h1></b><br>
<li><b>Estimating the outcomes of common envelope evolution in triple stellar systems</b><br>T.A.F. Comerford, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.498.2957C/abstract">ADS</a> 22 citations</li>
<li><b>Unresolved stellar companions with Gaia DR2 astrometry</b><br>Vasily Belokurov, Zephyr Penoyre, Semyeong Oh, Giuliano Iorio, Simon Hodgkin, N.Wyn Evans, Andrew Everall, Sergey E. Koposov, Christopher A. Tout, Robert Izzard, Cathie J. Clarke, Anthony G.A. Brown<br> <a href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.496.1922B/abstract">ADS</a> 270 citations</li>
<br><b><h1>2019</h1></b><br>
<li><b>Massive runaway and walkaway stars. A study of the kinematical imprints of the physical processes governing the evolution and explosion of their binary progenitors</b><br>M. Renzo, E. Zapartas, S.E. de Mink, Y. Götberg, S. Justham, R.J. Farmer, R.G. Izzard, S. Toonen, H. Sana<br> <a href="https://ui.adsabs.harvard.edu/abs/2019A&A...624A..66R/abstract">ADS</a> 175 citations</li>
<li><b>The interaction of core-collapse supernova ejecta with a stellar companion</b><br>Zheng-Wei Liu, T.M. Tauris, F.K. Röpke, T.J. Moriya, M. Kruckow, R.J. Stancliffe, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2019IAUS..346...55L/abstract">ADS</a> 4 citations</li>
<br><b><h1>2018</h1></b><br>
<li><b>Understanding the orbital periods of CEMP-s stars</b><br>Carlo Abate, Onno R. Pols, Richard J. Stancliffe<br> <a href="https://ui.adsabs.harvard.edu/abs/2018A&A...620A..63A/abstract">ADS</a> 21 citations</li>
<li><b>Binary stars in the Galactic thick disc</b><br>Robert G. Izzard, Holly Preece, Paula Jofre, Ghina M. Halabi, Thomas Masseron, Christopher A. Tout<br> <a href="https://ui.adsabs.harvard.edu/abs/2018MNRAS.473.2984I/abstract">ADS</a> 73 citations</li>
<li><b>Post-AGB Discs from Common-Envelope Evolution</b><br>Robert G. Izzard, Adam S. Jermyn<br> <a href="https://ui.adsabs.harvard.edu/abs/2018Galax...6...97I/abstract">ADS</a> 10 citations</li>
<li><b>The blue straggler V106 in NGC 6791: a prototype progenitor of old single giants masquerading as young</b><br>K. Brogaard, S.M. Christiansen, F. Grundahl, A. Miglio, R.G. Izzard, T.M. Tauris, E.L. Sandquist, D.A. VandenBerg, J. Jessen-Hansen, T. Arentoft, H. Bruntt, S. Frandsen, J.A. Orosz, G.A. Feiden, R. Mathieu, A. Geller, M. Shetrone, N. Ryde, D. Stello, I. Platais, S. Meibom<br> <a href="https://ui.adsabs.harvard.edu/abs/2018MNRAS.481.5062B/abstract">ADS</a> 22 citations</li>
<li><b>An excess of massive stars in the local 30 Doradus starburst</b><br>F.R.N. Schneider, H. Sana, C.J. Evans, J.M. Bestenlehner, N. Castro, L. Fossati, G. Gräfener, N. Langer, O.H. Ramírez-Agudelo, C. Sabín-Sanjulián, S. Simón-Díaz, F. Tramper, P.A. Crowther, A. de Koter, S.E. de Mink, P.L. Dufton, M. Garcia, M. Gieles, V. Hénault-Brunet, A. Herrero, R.G. Izzard, V. Kalari, D.J. Lennon, J. Maíz Apellániz, N. Markova, F. Najarro, Ph. Podsiadlowski, J. Puls, W.D. Taylor, J.Th. van Loon, J.S. Vink, C. Norman<br> <a href="https://ui.adsabs.harvard.edu/abs/2018Sci...359...69S/abstract">ADS</a> 187 citations</li>
<li><b>The VLT-FLAMES Tarantula Survey. XXIX. Massive star formation in the local 30 Doradus starburst</b><br>F.R.N. Schneider, O.H. Ramírez-Agudelo, F. Tramper, J.M. Bestenlehner, N. Castro, H. Sana, C.J. Evans, C. Sabín-Sanjulián, S. Simón-Díaz, N. Langer, L. Fossati, G. Gräfener, P.A. Crowther, S.E. de Mink, A. de Koter, M. Gieles, A. Herrero, R.G. Izzard, V. Kalari, R.S. Klessen, D.J. Lennon, L. Mahy, J. Maíz Apellániz, N. Markova, J.Th. van Loon, J.S. Vink, N.R. Walborn<br> <a href="https://ui.adsabs.harvard.edu/abs/2018A&A...618A..73S/abstract">ADS</a> 74 citations</li>
<li><b>Population synthesis of binary stars</b><br>Robert G. Izzard, Ghina M. Halabi<br> <a href="https://ui.adsabs.harvard.edu/abs/2018arXiv180806883I/abstract">ADS</a> 8 citations</li>
<li><b>Post-common envelope binary systems experiencing helium-shell-driven stable mass transfer</b><br>Ghina M. Halabi, Robert G. Izzard, Christopher A. Tout<br> <a href="https://ui.adsabs.harvard.edu/abs/2018MNRAS.480.5176H/abstract">ADS</a> 5 citations</li>
<br><b><h1>2017</h1></b><br>
<li><b>Dawes Review 6: The Impact of Companions on Stellar Evolution</b><br>Orsola De Marco, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2017PASA...34....1D/abstract">ADS</a> 167 citations</li>
<li><b>Hypervelocity runaways from the Large Magellanic Cloud</b><br>D. Boubert, D. Erkal, N.W. Evans, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.469.2151B/abstract">ADS</a> 56 citations</li>
<li><b>Delay-time distribution of core-collapse supernovae with late events resulting from binary interaction</b><br>E. Zapartas, S.E. de Mink, R.G. Izzard, S.-C. Yoon, C. Badenes, Y. Götberg, A. de Koter, C.J. Neijssel, M. Renzo, A. Schootemeijer, T.S. Shrotriya<br> <a href="https://ui.adsabs.harvard.edu/abs/2017A&A...601A..29Z/abstract">ADS</a> 140 citations</li>
<li><b>Core-collapse supernova progenitor constraints using the spatial distributions of massive stars in local galaxies</b><br>T. Kangas, L. Portinari, S. Mattila, M. Fraser, E. Kankare, R.G. Izzard, P. James, C. González-Fernández, J.R. Maund, A. Thompson<br> <a href="https://ui.adsabs.harvard.edu/abs/2017A&A...597A..92K/abstract">ADS</a> 26 citations</li>
<br><b><h1>2016</h1></b><br>
<li><b>Cannibals in the thick disk: the young α-rich stars as evolved blue stragglers</b><br>P. Jofré, A. Jorissen, S. Van Eck, R.G. Izzard, T. Masseron, K. Hawkins, G. Gilmore, C. Paladini, A. Escorza, S. Blanco-Cuaresma, R. Manick<br> <a href="https://ui.adsabs.harvard.edu/abs/2016A&A...595A..60J/abstract">ADS</a> 79 citations</li>
<br><b><h1>2015</h1></b><br>
<li><b>White dwarf masses in cataclysmic variables</b><br>T.P.G. Wijnen, M. Zorotovic, M.R. Schreiber<br> <a href="https://ui.adsabs.harvard.edu/abs/2015A&A...577A.143W/abstract">ADS</a> 37 citations</li>
<li><b>Modelling the observed properties of carbon-enhanced metal-poor stars using binary population synthesis</b><br>C. Abate, O.R. Pols, R.J. Stancliffe, R.G. Izzard, A.I. Karakas, T.C. Beers, Y.S. Lee<br> <a href="https://arxiv.org/abs/1507.04969">ADS</a> 41 citations</li>
<li><b>The strange evolution of the Large Magellanic Cloud Cepheid OGLE-LMC-CEP1812</b><br>Hilding R. Neilson, Robert G. Izzard, Norbert Langer, Richard Ignace<br> <a href="https://ui.adsabs.harvard.edu/abs/2015A&A...581L...1N/abstract">ADS</a> 13 citations</li>
<li><b>Modelling the observed properties of carbon-enhanced metal-poor stars using binary population synthesis</b><br>C. Abate, O.R. Pols, R.J. Stancliffe, R.G. Izzard, A.I. Karakas, T.C. Beers, Y.S. Lee<br> <a href="https://ui.adsabs.harvard.edu/abs/2015A&A...581A..62A/abstract">ADS</a> 41 citations</li>
<li><b>The interaction of core-collapse supernova ejecta with a companion star</b><br>Zheng-Wei Liu, T.M. Tauris, F.K. Röpke, T.J. Moriya, M. Kruckow, R.J. Stancliffe, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2015A&A...584A..11L/abstract">ADS</a> 48 citations</li>
<li><b>Observable fractions of core-collapse supernova light curves brightened by binary companions</b><br>Takashi J. Moriya, Zheng-Wei Liu, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2015MNRAS.450.3264M/abstract">ADS</a> 13 citations</li>
<br><b><h1>2014</h1></b><br>
<li><b>The Incidence of Stellar Mergers and Mass Gainers among Massive Stars</b><br>S.E. de Mink, H. Sana, N. Langer, R.G. Izzard, F.R.N. Schneider<br> <a href="https://ui.adsabs.harvard.edu/abs/2014ApJ...782....7D/abstract">ADS</a> 295 citations</li>
<li><b>Theoretical uncertainties of the Type Ia supernova rate</b><br>J.S.W. Claeys, O.R. Pols, R.G. Izzard, J. Vink, F.W.M. Verbunt<br> <a href="https://ui.adsabs.harvard.edu/abs/2014A&A...563A..83C/abstract">ADS</a> 223 citations</li>
<li><b>Ages of Young Star Clusters, Massive Blue Stragglers, and the Upper Mass Limit of Stars: Analyzing Age-dependent Stellar Mass Functions</b><br>F.R.N. Schneider, R.G. Izzard, S.E. de Mink, N. Langer, A. Stolte, A. de Koter, V.V. Gvaramadze, B. Hußmann, A. Liermann, H. Sana<br> <a href="https://ui.adsabs.harvard.edu/abs/2014ApJ...780..117S/abstract">ADS</a> 136 citations</li>
<li><b>The Incidence of Stellar Mergers and Mass Gainers among Massive Stars</b><br>S.E. de Mink, H. Sana, N. Langer, R.G. Izzard, F.R.N. Schneider<br> <a href="http://esoads.eso.org/abs/2013arXiv1312.3650D">ADS</a> 295 citations</li>
<li><b>The spectroscopic Hertzsprung-Russell diagram of Galactic massive stars</b><br>N. Castro, L. Fossati, N. Langer, S. Simón-Díaz, F.R.N. Schneider, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2014A&A...570L..13C/abstract">ADS</a> 108 citations</li>
<br><b><h1>2013</h1></b><br>
<li><b>A nova re-accretion model for J-type carbon stars</b><br>S. Sengupta, R.G. Izzard, H.H.B. Lau<br> <a href="https://ui.adsabs.harvard.edu/abs/2013A&A...559A..66S/abstract">ADS</a> 19 citations</li>
<li><b>AGB nucleosynthesis at low metallicity: What can we learn from Carbon- and s-elements-enhanced metal-poor stars</b><br>C. Abate, O.R. Pols, R.G. Izzard, A.I. Karakas<br> <a href="http://esoads.eso.org/abs/2013arXiv1310.6859A">ADS</a></li>
<li><b>Population synthesis of triple systems in the context of mergers of carbon-oxygen white dwarfs</b><br>A.S. Hamers, O.R. Pols, J.S.W. Claeys, G. Nelemans<br> <a href="http://esoads.eso.org/abs/2013MNRAS.430.2262H">ADS</a> 98 citations</li>
<li><b>POPCORN: A comparison of binary population synthesis codes</b><br>J.S.W. Claeys, S. Toonen, N. Mennekens<br> <a href="http://esoads.eso.org/abs/2013ASPC..470..163C">ADS</a></li>
<li><b>Type Ia Supernovae and the Uncertainties in their Progenitor Evolution</b><br>J.S.W. Claeys, O.R. Pols, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2013IAUS..281..236C/abstract">ADS</a> 1 citations</li>
<li><b>Wind Roche-lobe overflow: Application to carbon-enhanced metal-poor stars</b><br>C. Abate, O.R. Pols, R.G. Izzard, S.S. Mohamed, S.E. de Mink<br> <a href="https://ui.adsabs.harvard.edu/abs/2013A&A...552A..26A/abstract">ADS</a> 138 citations</li>
<li><b>Eccentricity-pumping in post-AGB stars with circumbinary discs</b><br>T. Dermine, R.G. Izzard, A. Jorissen, H. Van Winckel<br> <a href="https://ui.adsabs.harvard.edu/abs/2013A&A...551A..50D/abstract">ADS</a> 75 citations</li>
<li><b>The Rotation Rates of Massive Stars: The Role of Binary Interaction through Tides, Mass Transfer, and Mergers</b><br>S.E. de Mink, N. Langer, R.G. Izzard, H. Sana, A. de Koter<br> <a href="https://ui.adsabs.harvard.edu/abs/2013ApJ...764..166D/abstract">ADS</a> 440 citations</li>
<li><b>Massive binary stars and self-enrichment of globular clusters</b><br>R.G. Izzard, S.E. de Mink, O.R. Pols, N. Langer, H. Sana, A. de Koter<br> <a href="http://esoads.eso.org/abs/2013arXiv1302.0725I">ADS</a> 13 citations</li>
<li><b>Planetary nebulae after common-envelope phases initiated by low-mass red giants</b><br>Philip D. Hall, Christopher A. Tout, Robert G. Izzard, Denise Keller<br> <a href="https://ui.adsabs.harvard.edu/abs/2013MNRAS.435.2048H/abstract">ADS</a> 42 citations</li>
<li><b>Massive binary stars and self-enrichment of globular clusters</b><br>R.G. Izzard, S.E. de Mink, O.R. Pols, N. Langer, H. Sana, A. de Koter<br> <a href="https://ui.adsabs.harvard.edu/abs/2013MmSAI..84..171I/abstract">ADS</a> 13 citations</li>
<li><b>Stellar Evolution Models of Classical Cepheids Require Enhanced Mass Loss</b><br>Hilding Neilson, N. Langer, S.G. Engle, E.F. Guinan, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2013AAS...22125214N/abstract">ADS</a></li>
<br><b><h1>2012</h1></b><br>
<li><b>Classical Cepheids Require Enhanced Mass Loss</b><br>Hilding R. Neilson, Norbert Langer, Scott G. Engle, Ed Guinan, Robert Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2012ApJ...760L..18N/abstract">ADS</a> 39 citations</li>
<li><b>Challenges for Understanding the Evolution of Massive Stars: Rotation, Binarity, and Mergers</b><br>S.E. de Mink, I. Brott, M. Cantiello, R.G. Izzard, N. Langer, H. Sana<br> <a href="https://ui.adsabs.harvard.edu/abs/2012ASPC..465...65D/abstract">ADS</a> 13 citations</li>
<li><b>Binary Interaction Dominates the Evolution of Massive Stars</b><br>H. Sana, S.E. de Mink, A. de Koter, N. Langer, C.J. Evans, M. Gieles, E. Gosset, R.G. Izzard, J.-B. Le Bouquin, F.R.N. Schneider<br> <a href="https://ui.adsabs.harvard.edu/abs/2012Sci...337..444S/abstract">ADS</a> 1640 citations</li>
<li><b>The occurrence of nitrogen-enhanced metal-poor stars: implications for the initial mass function in the early Galactic halo</b><br>O.R. Pols, R.G. Izzard, R.J. Stancliffe, E. Glebbeek<br> <a href="https://ui.adsabs.harvard.edu/abs/2012A&A...547A..76P/abstract">ADS</a> 38 citations</li>
<br><b><h1>2011</h1></b><br>
<li><b>Fast rotating stars resulting from binary evolution will often appear to be single</b><br>Selma E. de Mink, Norbert Langer, Robert G. Izzard<br> <a href="http://cdsads.u-strasbg.fr/abs/2010arXiv1009.3937D">ADS</a> 13 citations</li>
<li><b>Binaries are the best single stars</b><br>S.E. de Mink, N. Langer, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2011BSRSL..80..543D/abstract">ADS</a> 30 citations</li>
<li><b>How did Carbon-Enhanced Metal-Poor Stars form?</b><br>C. Abate, O.R. Pols, R.G. Izzard, S. Mohamed, S.E. de Mink<br> <a href="https://ui.adsabs.harvard.edu/abs/2011ASPC..447...81A/abstract">ADS</a> 1 citations</li>
<li><b>Formation and Evolution of Carbon-Enhanced Metal-Poor Stars</b><br>C. Abate, O.R. Pols, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2011ASPC..445..445A/abstract">ADS</a></li>
<li><b>The search for progenitor models of type Ia supernovae</b><br>J.S.W. Claeys, O.R. Pols, J. Vink, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2011arXiv1101.5601C/abstract">ADS</a> 5 citations</li>
<li><b>Fast rotating stars resulting from binary evolution will often appear to be single</b><br>Selma E. de Mink, Norbert Langer, Robert G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2011IAUS..272..531D/abstract">ADS</a> 13 citations</li>
<br><b><h1>2010</h1></b><br>
<li><b>White-dwarf kicks and implications for barium stars</b><br>R.G. Izzard, T. Dermine, R.P. Church<br> <a href="http://cdsads.u-strasbg.fr/abs/2010arXiv1008.3818I">ADS</a> 77 citations</li>
<li><b>The Origin and Evolution of the Halo PN BoBn 1: From a Viewpoint of Chemical Abundances Based on Multiwavelength Spectra</b><br>Masaaki Otsuka, Akito Tajitsu, Siek Hyung, Hideyuki Izumiura<br> <a href="http://cdsads.u-strasbg.fr/abs/2010arXiv1008.4175O">ADS</a> 46 citations</li>
<li><b>White-dwarf kicks and implications for barium stars</b><br>R.G. Izzard, T. Dermine, R.P. Church<br> <a href="https://ui.adsabs.harvard.edu/abs/2010A&A...523A..10I/abstract">ADS</a> 77 citations</li>
<li><b>Massive binaries and the enrichment of the interstellar medium in globular clusters</b><br>S.E. de Mink, O.R. Pols, N. Langer, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2010IAUS..266..169D/abstract">ADS</a> 7 citations</li>
<li><b>Carbon-enhanced metal-poor stars as probes of early Galactic nucleosynthesis</b><br>O.R. Pols, R.G. Izzard, E. Glebbeek, R.J. Stancliffe<br> <a href="https://ui.adsabs.harvard.edu/abs/2010IAUS..265..117P/abstract">ADS</a> 2 citations</li>
<li><b>GALEV Evolutionary Synthesis Models: Why Are They Special?</b><br>Peter Anders, R. Kotulla, R. Izzard, I. Brott<br> <a href="https://ui.adsabs.harvard.edu/abs/2010AAS...21533808A/abstract">ADS</a></li>
<br><b><h1>2009</h1></b><br>
<li><b>The impact of binary-star yields on the spectra of galaxies</b><br>A.E. Sansom, R.G. Izzard, P. Ocvirk<br> <a href="https://ui.adsabs.harvard.edu/abs/2009MNRAS.399.1012S/abstract">ADS</a> 3 citations</li>
<li><b>Population synthesis of binary carbon-enhanced metal-poor stars</b><br>R.G. Izzard, E. Glebbeek, R.J. Stancliffe, O.R. Pols<br> <a href="https://ui.adsabs.harvard.edu/abs/2009A&A...508.1359I/abstract">ADS</a> 152 citations</li>
<li><b>Massive binaries as the source of abundance anomalies in globular clusters</b><br>S.E. de Mink, O.R. Pols, N. Langer, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2009A&A...507L...1D/abstract">ADS</a> 411 citations</li>
<br><b><h1>2008</h1></b><br>
<li><b>Fluorine in carbon-enhanced metal-poor stars: a binary scenario</b><br>M. Lugaro, S.E. de Mink, R.G. Izzard, S.W. Campbell, A.I. Karakas, S. Cristallo, O.R. Pols, J.C. Lattanzio, O. Straniero, R. Gallino, T.C. Beers<br> <a href="https://ui.adsabs.harvard.edu/abs/2008A&A...484L..27L/abstract">ADS</a> 34 citations</li>
<li><b>Gamma-ray bursts from tidally spun-up Wolf-Rayet stars?</b><br>R.G. Detmers, N. Langer, Ph. Podsiadlowski, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2008A&A...484..831D/abstract">ADS</a> 95 citations</li>
<li><b>The Mysterious R Stars</b><br>Robert G. Izzard, C.Simon Jeffery, John Lattanzio<br> <a href="https://ui.adsabs.harvard.edu/abs/2008AIPC.1001...33I/abstract">ADS</a></li>
<li><b>Modelling the evolution and nucleosynthesis of carbon-enhanced metal-poor stars</b><br>O.R. Pols, R.G. Izzard, M. Lugaro, S.E. de Mink<br> <a href="https://ui.adsabs.harvard.edu/abs/2008IAUS..252..383P/abstract">ADS</a> 8 citations</li>
<br><b><h1>2007</h1></b><br>
<li><b>Origin of the early-type R stars: a binary-merger solution to a century-old problem?</b><br>R.G. Izzard, C.S. Jeffery, J. Lattanzio<br> <a href="https://ui.adsabs.harvard.edu/abs/2007A&A...470..661I/abstract">ADS</a> 52 citations</li>
<li><b>Reaction rate uncertainties and the operation of the NeNa and MgAl chains during HBB in intermediate-mass AGB stars</b><br>R.G. Izzard, M. Lugaro, A.I. Karakas, C. Iliadis, M. van Raai<br> <a href="https://ui.adsabs.harvard.edu/abs/2007A&A...466..641I/abstract">ADS</a> 93 citations</li>
<li><b>Galactic Sodium from AGB Stars</b><br>R.G. Izzard, B.K. Gibson, R.J. Stancliffe<br> <a href="https://ui.adsabs.harvard.edu/abs/2007ASPC..378..121I/abstract">ADS</a></li>
<li><b>The s-process in stellar population synthesis: a new approach to understanding AGB stars</b><br>A. Bonačić Marinović, R.G. Izzard, M. Lugaro, O.R. Pols<br> <a href="https://ui.adsabs.harvard.edu/abs/2007A&A...469.1013B/abstract">ADS</a> 19 citations</li>
<li><b>Binary AGB Nucleosynthesis</b><br>Robert G. Izzard, Onno R. Pols<br> <a href="https://ui.adsabs.harvard.edu/abs/2007apn4.confE..64I/abstract">ADS</a></li>
<li><b>The Century-old R-Star Mystery</b><br>Robert G. Izzard, C.Simon Jeffery, John Lattanzio<br> <a href="https://ui.adsabs.harvard.edu/abs/2007AIPC..948...51I/abstract">ADS</a></li>
<br><b><h1>2006</h1></b><br>
<li><b>Population nucleosynthesis in single and binary stars. I. Model</b><br>R.G. Izzard, L.M. Dray, A.I. Karakas, M. Lugaro, C.A. Tout<br> <a href="https://ui.adsabs.harvard.edu/abs/2006A&A...460..565I/abstract">ADS</a> 149 citations</li>
<li><b>Window To The Stars</b><br>Robert G. Izzard, Evert Glebbeek<br> <a href="https://ui.adsabs.harvard.edu/abs/2006NewA...12..161I/abstract">ADS</a> 4 citations</li>
<li><b>Synthetic super-AGB stars</b><br>Robert G. Izzard, Arend Jan T. Poelarends<br> <a href="https://ui.adsabs.harvard.edu/abs/2006MmSAI..77..840I/abstract">ADS</a> 5 citations</li>
<li><b>Population synthesis of s-process element enhanced stars: Constraining the <sup>13</sup>C efficiency</b><br>A. Bonačić Marinović, R.G. Izzard, M. Lugaro, O.R. Pols<br> <a href="https://ui.adsabs.harvard.edu/abs/2006MmSAI..77..879B/abstract">ADS</a> 7 citations</li>
<li><b>Software provides Window to the Stars</b><br>Robert Izzard, Evert Glebbeek<br> <a href="https://ui.adsabs.harvard.edu/abs/2006A&G....47d..28I/abstract">ADS</a></li>
<li><b>Carbon-enhanced metal-poor stars -- effects of binary evolution at low metallicity</b><br>O.R. Pols, R.G. Izzard<br> <a href="https://ui.adsabs.harvard.edu/abs/2006ASPC..353..233P/abstract">ADS</a></li>
<li><b>Reaction rate uncertainties and the operation of the NeNa and MgAl chains during HBB in intermediate-mass AGB stars</b><br>Robert Izzard, Maria Lugaro, Christian Illadis, Amanda Karakas<br> <a href="https://ui.adsabs.harvard.edu/abs/2006isna.confE..38I/abstract">ADS</a> 2 citations</li>
<br><b><h1>2004</h1></b><br>
<li><b>A binary origin for low-luminosity carbon stars</b><br>Robert G. Izzard, Christopher A. Tout<br> <a href="http://cdsads.u-strasbg.fr/abs/2004MNRAS.350L...1I">ADS</a> 24 citations</li>
<li><b>Formation rates of core-collapse supernovae and gamma-ray bursts</b><br>Robert G. Izzard, Enrico Ramirez-Ruiz, Christopher A. Tout<br> <a href="http://cdsads.u-strasbg.fr/abs/2004MNRAS.348.1215I">ADS</a> 147 citations</li>
<li><b>A new synthetic model for asymptotic giant branch stars</b><br>Robert G. Izzard, Christopher A. Tout, Amanda I. Karakas, Onno R. Pols<br> <a href="https://ui.adsabs.harvard.edu/abs/2004MNRAS.350..407I/abstract">ADS</a> 275 citations</li>
<br><b><h1>2003</h1></b><br>
<li><b>Nucleosynthesis in Binary Populations</b><br>Robert G. Izzard, Christopher A. Tout<br> <a href="http://cdsads.u-strasbg.fr/abs/2003PASA...20..345I">ADS</a> 10 citations</li>
